@mixin colorVariant($bg, $color) {
  color: $color;
  background-color: $bg;
}
.dark-white {
  color: $dark;
  background-color: $white;
}
.min-black {
  @include colorVariant($min-black, $black-color)
}
.black {
  @include colorVariant($black, $black-color);
}

.dark {
  @include colorVariant($dark, $dark-color);
}

.grey {
 @include colorVariant($grey, $grey-color);
}

.primary {
 @include colorVariant($primary, $primary-color);
}

.info {
  @include colorVariant($info, $info-color);
}
.warn {
  @include colorVariant($warn, $warn-color);
}
.danger {
  @include colorVariant($danger, $danger-color)
}